<div class="row justify-content-center col-12 mt-5">
    <div class="col">
        <div class="card ">
            <div class="card-header">Users List </div>
            <div class="card-body">

                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email Id</th>
                                <th scope="col">Mobile No</th>
                                <th scope="col">Address</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Chetan </td>
                                <td>chetan@gmail.com</td>
                                <td>44587878656</td>
                                <td>jhfhjf djhudhud dud</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>